*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins','Times New Roman', Times, serif sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #FCFBF0;
    /* background: linear-gradient(to bottom, #000, #1F1F1F); */
    color: black;
}

#header{
    width: 100%;
    height: 100vh;
}

.container{
    padding: 10px;
}
.container nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 200px;
    height: 140px;
}